.app-header {
    background: linear-gradient(rgb(130, 168, 216), rgb(145, 218, 145), rgb(232, 211, 180));
    padding-block: 1em;
}

h1 {
    font-size: 30px;
    margin: 0 0 10px 0;
}

.app-nav {
    display: flex;
    justify-content: center;
    gap: 1.2em;
    margin-bottom: 0.5em;
}

.header-container span {
    text-align: center;
}

.header-user-details {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.header-user-details span {
    margin-top: 10px;
}

.progress-bar-container {
    margin: 0.5em 0;
    width: 80%;
    background-color: #e0e0e0;
    border-radius: 8px;
    position: relative;
    /* Needed to position the percentage text */
}

.progress-bar {
    height: 30px;
    background-color: #4c8caf;
    border-radius: 8px;
    text-align: center;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
}

@media(max-width: 720px) {
    .app-header {
        color: rgb(9, 9, 9)
    }
}