.filter-container {
    background-color: #f7f7f7;

}

.filter-form {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    margin: 10px 0;
    padding: 10px;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.filter-container h3 {
    padding-top: 0.5em;
    margin-bottom: 5px;
}

input,
.filter-list {
    padding: 8px 12px;
    margin-right: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    background-color: white;
    font-size: 16px;
    color: #333;
}

.filter-form input#pageIdx {
    width: 42px;
}